name: flutter_speech_ai
description: "Exemple d'application Flutter utilisant Azure Speech-to-Text"
publish_to: "none"
version: 0.1.0

environment:
  sdk: ^3.5.1

dependencies:
  flutter:
    sdk: flutter
  record: ^6.1.2
  http: ^1.6.0
  path_provider: ^2.1.5
  uuid: ^4.5.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

assets:
  - .env
